[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
yfinance = "*"
pystan = "==2.19.1.1"
prophet = "*"
django-chartjs = "*"
plotly = "*"
django-cors-headers = "*"
django-environ = "*"
django-cron = "*"
dj-database-url = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"
environ = "*"

[dev-packages]

[requires]
python_version = "3.9"
